@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    background-color: rgb(2 6 23 / var(--tw-bg-opacity, 1));
    overscroll-behavior: none;
}

.no-scroll {
    overflow: hidden;
    touch-action: none;
}
  